### Import modules

In [9]:
import pandas as pd

%matplotlib inline

### Load data

In [113]:
df = pd.read_csv('transactions.csv')
df.drop('Account Name', axis=1, inplace=True)

In [114]:
df.head()

,Date,Description,Original Description,Amount,Transaction Type,Category,Labels,Notes
0,7/08/2017,Haikan,HAIKAN,36.30,debit,Restaurants,NaN,NaN
1,7/08/2017,Soho,SOHO TEA & COFFEE,8.90,debit,Coffee Shops,NaN,NaN
2,7/07/2017,Dirty Martini,DIRTY MARTINI,24.20,debit,Alcohol & Bars,NaN,NaN
3,7/07/2017,Taqueria El Ranchito,Taqueria El Ranchito,9.00,debit,Restaurants,NaN,NaN
4,7/07/2017,Comcast,COMCAST,33.11,debit,Internet,NaN,NaN

TODO:
2. Aggregate to monthly level
3. Visualize correlation
4. Run regression

### Remove irrelevant transactions

In [86]:
# Drop large purchases, which are mostly one-time transactions
df = df.ix[df['Amount'] < 1000, :].reset_index(drop=True)

In [87]:
# Irrelevant categories for analysis to drop
irrelevant_categories = ['Credit Card Payment', 'Income', 'Transfer', 'Interest Income', 'Taxes', 'Federal Tax',
                         'State Tax', 'Fees & Charges', 'Late Fee', 'Bank Fee', 'Service Fee', 'Reimbursement',
                         'ATM Fee', 'Finance Charge', 'Check', 'Investments2', 'Gifts & Donations', 'Bonus',
                         'Paycheck', 'Financial']

# Drop transactions
df = df.ix[~df['Category'].isin(irrelevant_categories), :].reset_index(drop=True)

### Recategorize transactions

In [88]:
# Map of which categorizes to consider as 'Eating Out'
eating_out_map = {'Fast Food': 'Eating Out', 'Restaurants': 'Eating Out', 'Food & Dining': 'Eating Out'}

# Recategorize transactions
df['Category'] = df['Category'].replace(eating_out_map)

# Recategorize everything else as 'Other'
df.ix[~df['Category'].isin(['Eating Out', 'Groceries']), 'Category'] = 'Other'

### Aggregate data to monthly level

In [105]:
pd.to_datetime(df['Date']).apply(lambda x: x.strfmt('YY-MM'))

AttributeError: 'Timestamp' object has no attribute 'strfmt'