In [9]:
import pandas as pd

%matplotlib inline

In [2]:
df = pd.read_csv('transactions.csv')

In [3]:
df.head()

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,7/08/2017,Haikan,HAIKAN,36.30,debit,Restaurants,World Elite MasterCard,NaN,NaN
1,7/08/2017,Soho,SOHO TEA & COFFEE,8.90,debit,Coffee Shops,World Elite MasterCard,NaN,NaN
2,7/07/2017,Dirty Martini,DIRTY MARTINI,24.20,debit,Alcohol & Bars,World Elite MasterCard,NaN,NaN
3,7/07/2017,Taqueria El Ranchito,Taqueria El Ranchito,9.00,debit,Restaurants,World Elite MasterCard,NaN,NaN
4,7/07/2017,Comcast,COMCAST,33.11,debit,Internet,Venture,NaN,NaN

TODO:
0. Remove negative transactions
1. Rename categories into cooking, eating out, and other
2. Aggregate to monthly level
3. Visualize correlation
4. Run regression

In [15]:
df.ix[df['Amount'] > 1000, :]

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
5,7/06/2017,Deposit Capital One,"Deposit from CAPITAL ONE, N.A RE",2395.94,credit,Paycheck,Checking/Savings Account,NaN,NaN
10,7/05/2017,Withdrawal Le,Withdrawal from Westhaven/The Le,2650.00,debit,Mortgage & Rent,Checking/Savings Account,NaN,NaN
66,6/22/2017,Deposit Capital One,"Deposit from CAPITAL ONE, N.A RE",2395.95,credit,Paycheck,Checking/Savings Account,NaN,NaN
82,6/17/2017,Avianca.com,AVIANCA.COM,1291.88,debit,Air Travel,Venture,NaN,NaN
107,6/13/2017,Withdrawal Capital One,Withdrawal from CAPITAL ONE ONLI,1319.56,debit,Credit Card Payment,Checking/Savings Account,NaN,NaN
113,6/12/2017,Capital One Online,CAPITAL ONE ONLINE PYMT AuthDate 12-J UN,1319.56,credit,Credit Card Payment,Venture,NaN,NaN
135,6/08/2017,Deposit Capital One,"Deposit from CAPITAL ONE, N.A RE",2395.94,credit,Paycheck,Checking/Savings Account,NaN,NaN
156,6/02/2017,Withdrawal Le,Withdrawal from Westhaven/The Le,2650.00,debit,Mortgage & Rent,Checking/Savings Account,NaN,NaN
192,5/25/2017,Deposit Capital One,"Deposit from CAPITAL ONE, N.A RE",2898.81,credit,Paycheck,Checking/Savings Account,NaN,NaN
231,5/15/2017,Withdrawal Capital One,Withdrawal from CAPITAL ONE ONLI,1789.94,debit,Credit Card Payment,Checking/Savings Account,NaN,NaN
238,5/12/2017,Capital One Online,CAPITAL ONE ONLINE PYMT AuthDate 12-M AY,1789.94,credit,Credit Card Payment,Venture,NaN,NaN
241,5/12/2017,Money,Money sent to manuel.e.contreras,2000.00,debit,Transfer,Checking/Savings Account,NaN,NaN
247,5/11/2017,Deposit Capital One,"Deposit from CAPITAL ONE, N.A RE",2898.80,credit,Paycheck,Checking/Savings Account,NaN,NaN
268,5/02/2017,Withdrawal Le,Withdrawal from Westhaven/The Le,2650.00,debit,Mortgage & Rent,Checking/Savings Account,NaN,NaN
290,4/27/2017,Deposit Capital One,"Deposit from CAPITAL ONE, N.A RE",2898.80,credit,Paycheck,Checking/Savings Account,NaN,NaN
337,4/14/2017,Money,Money sent to manuel.e.contreras,2000.00,debit,Transfer,Checking/Savings Account,NaN,NaN
342,4/13/2017,Deposit Capital One,"Deposit from CAPITAL ONE, N.A RE",2898.80,credit,Paycheck,Checking/Savings Account,NaN,NaN
364,4/04/2017,Withdrawal Le,Withdrawal from Westhaven/The Le,2650.00,debit,Mortgage & Rent,Checking/Savings Account,NaN,NaN
380,3/30/2017,Money,Money sent to manuel.e.contreras,2000.00,debit,Transfer,Checking/Savings Account,NaN,NaN
381,3/30/2017,Deposit Capital One,"Deposit from CAPITAL ONE, N.A RE",2898.81,credit,Paycheck,Checking/Savings Account,NaN,NaN
404,3/22/2017,Withdrawal Dc Otr,Withdrawal from DC-OTR-MEF-IIT P,2846.00,debit,Cash & ATM,Checking/Savings Account,NaN,NaN
409,3/21/2017,Internal Revenue Service,Withdrawal from IRS USATAXPYMT,4004.00,debit,Federal Tax,Checking/Savings Account,NaN,NaN
415,3/19/2017,Money Received Manuel,Money received from MANUEL CONTR,2000.00,credit,Income,Checking/Savings Account,NaN,NaN
422,3/18/2017,Money Received Manuel,Money received from MANUEL CONTR,2000.00,credit,Income,Checking/Savings Account,NaN,NaN
425,3/17/2017,Money Received Manuel,Money received from MANUEL CONTR,2000.00,credit,Income,Checking/Savings Account,NaN,NaN
427,3/16/2017,Deposit Capital One,"Deposit from CAPITAL ONE, N.A RE",2898.80,credit,Paycheck,Checking/Savings Account,NaN,NaN
432,3/14/2017,Transfer to Checking/Savings Account,Withdrawal to 360 Checking XXXXX,3000.00,debit,Transfer,Checking/Savings Account,NaN,NaN
433,3/14/2017,Withdrawal Betterment Sec,Withdrawal from BETTERMENT SEC T,5500.00,debit,Investments2,Checking/Savings Account,NaN,NaN
434,3/14/2017,Transfer from Checking/Savings Account,Deposit from 360 Savings XXXXX77,3000.00,credit,Transfer,Checking/Savings Account,NaN,NaN
461,3/03/2017,Withdrawal Le,Withdrawal from Westhaven/The Le,2650.00,debit,Mortgage & Rent,Checking/Savings Account,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3594,8/20/2013,Withdrawal Life,Withdrawal from 111 PACIFIC LIFE,5000.00,debit,Buy,Checking/Savings Account,NaN,NaN
3595,8/20/2013,Transfer to Checking/Savings Account,Chase - Withdrawal to 360 Checki,3000.00,debit,Transfer,Checking/Savings Account,NaN,NaN
3599,8/19/2013,Withdrawal Life,Withdrawal from 111 PACIFIC LIFE,9000.00,debit,Buy,Checking/Savings Account,NaN,NaN
3605,8/16/2013,Transfer from Checking/Savings Account,Investments - Deposit from 360 S,14232.71,credit,Transfer,Checking/Savings Account,NaN,NaN
3606,8/16/2013,Transfer to Checking/Savings Account,Investments - Withdrawal to 360,14232.71,debit,Transfer,Checking/Savings Account,NaN,NaN
3607,8/15/2013,Deposit Disney Worldwide,Deposit from DISNEY WORLDWIDE PA,1997.77,credit,Income,Checking/Savings Account,NaN,NaN
3617,8/08/2013,Deposit Disney Worldwide,Deposit from DISNEY WORLDWIDE PA,6306.91,credit,Income,Checking/Savings Account,NaN,NaN
3621,8/05/2013,Withdrawal Rtners Ala,Withdrawal from WoodPartners ala,1071.50,debit,Mortgage & Rent,Checking/Savings Account,NaN,NaN
3623,8/02/2013,Transfer from Checking/Savings Account,August Rent - Deposit from 360 S,1100.00,credit,Transfer,Checking/Savings Account,NaN,NaN
3624,8/02/2013,Transfer to Checking/Savings Account,August Rent - Withdrawal to 360,1100.00,debit,Transfer,Checking/Savings Account,NaN,NaN
3629,8/01/2013,Deposit Disney Worldwide,Deposit from DISNEY WORLDWIDE PA,7923.42,credit,Income,Checking/Savings Account,NaN,NaN
3640,7/28/2013,IKEA,IKEA ORLANDO LLC,1105.14,debit,Furnishings,CREDIT CARD,NaN,NaN
3703,7/15/2013,Transfer to Checking/Savings Account,Car Extra - Withdrawal to 360 Sa,2850.47,debit,Transfer,Checking/Savings Account,NaN,NaN
3704,7/15/2013,Transfer from Checking/Savings Account,Car Extra - Deposit from 360 Che,2850.47,credit,Transfer,Checking/Savings Account,NaN,NaN
3717,7/12/2013,Cashed,Check #301 Cashed,8045.92,debit,Auto Payment,Checking/Savings Account,NaN,NaN
3733,7/01/2013,Deposit Harvard Universi,Deposit from HARVARD UNIVERSI DI,1500.00,credit,Income,Checking/Savings Account,NaN,NaN
3740,6/20/2013,Transfer to CREDIT CARD,Withdrawal from CHASE EPAY,2836.24,debit,Credit Card Payment,Checking/Savings Account,NaN,NaN
3741,6/20/2013,Deposit Pacific Life,Deposit from 111 PACIFIC LIFE RE,10000.00,credit,Income,Checking/Savings Account,NaN,NaN
3742,6/19/2013,Transfer from Checking/Savings Account,Payment Thank You - Web,2836.24,credit,Credit Card Payment,CREDIT CARD,NaN,NaN
3748,6/19/2013,Transfer from Checking/Savings Account,Europe and Credit Card - Deposit,4797.52,credit,Transfer,Checking/Savings Account,NaN,NaN
3749,6/19/2013,Transfer to Checking/Savings Account,Europe and Credit Card - Withdra,4797.52,debit,Transfer,Checking/Savings Account,NaN,NaN
3753,6/17/2013,Jl Deposit M,Check from JL - Check Deposit (M,1857.14,credit,Income,Checking/Savings Account,NaN,NaN
3763,6/08/2013,Paper United States,Paper Payment to United States T,2737.90,debit,Federal Tax,Checking/Savings Account,NaN,NaN
3765,6/06/2013,Transfer from Checking/Savings Account,Taxes 2013 - Deposit from 360 Sa,2737.85,credit,Transfer,Checking/Savings Account,NaN,NaN
3766,6/06/2013,Transfer to Checking/Savings Account,Taxes 2013 - Withdrawal to 360 C,2737.85,debit,Transfer,Checking/Savings Account,NaN,NaN
3827,5/21/2013,Transfer to CREDIT CARD,Withdrawal from CHASE EPAY,2089.41,debit,Credit Card Payment,Checking/Savings Account,NaN,NaN
3830,5/20/2013,Transfer from Checking/Savings Account,Payment Thank You - Web,2089.41,credit,Credit Card Payment,CREDIT CARD,NaN,NaN
3833,5/20/2013,Transfer from Checking/Savings Account,Credit card bill - May - Deposit,2089.38,credit,Transfer,Checking/Savings Account,NaN,NaN
3834,5/20/2013,Transfer to Checking/Savings Account,Credit card bill - May - Withdra,2089.38,debit,Transfer,Checking/Savings Account,NaN,NaN
3874,5/01/2013,Deposit Harvard Universi,Deposit from HARVARD UNIVERSI DI,2500.00,credit,Income,Checking/Savings Account,NaN,NaN

In [6]:
df['Category'].value_counts()

Restaurants                   532
Transfer                      283
Credit Card Payment           260
Groceries                     258
Fast Food                     256
Income                        223
Shopping                      182
Rental Car & Taxi             171
Alcohol & Bars                144
Pharmacy                      110
Interest Income               108
Coffee Shops                  102
Food & Dining                  95
Cash & ATM                     86
Books                          85
Paycheck                       78
Public Transportation          69
Mortgage & Rent                55
Air Travel                     47
Shipping                       44
Clothing                       44
Internet                       43
Hotel                          41
Movies & DVDs                  40
Vacation                       40
Laundry                        37
Travel                         32
Amusement                      29
Gas & Fuel                     28
Business Services              27
                             ...
Sports                          4
Auto Insurance                  4
Financial                       4
Auto Payment                    4
Late Fee                        4
Taxes                           4
Spa & Massage                   4
Sporting Goods                  4
Auto & Transport                4
Dentist                         3
Fees & Charges                  3
Service & Parts                 3
Home Supplies                   3
Books & Supplies                2
Hobbies                         2
Health & Fitness                2
Gifts & Donations               2
Misc Expenses                   1
Printing                        1
Bank Fee                        1
Tuition                         1
Bonus                           1
Check                           1
Eyecare                         1
Hide from Budgets & Trends      1
Toys                            1
Legal                           1
State Tax                       1
Reimbursement                   1
Kids                            1
Name: Category, dtype: int64